<div id="insidebox1" class="trimmings">
<table border="1">

<form name="form1" method="post" action="welcomenext.php">


<tr><td>
	Product</td>
<td>All</td>
<td>Pounds</td>
<td>Percent</td>
<td>Split</td>
<td>Remainder</td>
</tr>
<tr>
<td>
	Jalepeno Cheese Smoked Links </td>
<td>		<input type ="checkbox" id ="all1" class ="all" /> </td>
<td>		<input type="text" id="lb1" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent1" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split1" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder1" class="remainder" /></td>
</tr>

<tr>
<td>
	Jalepeno Cheese Salami
<td>		<input type ="checkbox" id ="all2" class ="all" /></td>
<td>		<input type="text" id="lb2" class="lb" size="3" maxlength="4" value="0" style="text-align:right"  placeholder="0"/></td>
<td>		<input type="text" id="percent2" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/></td>
<td>		<input type="checkbox" id="split2" class="split" /></td>
<td>		<input type="checkbox" id="remainder2" class="remainder" /></td>
</tr>

<tr>
<td>
	Mild Smoked Links </td>
<td>		<input type ="checkbox" id ="all3" class ="all" /> </td>
<td>		<input type="text" id="lb3" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent3" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split3" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder3" class="remainder" /></td>
</tr>

<tr>
<td>
	Hot Smoked Links </td>
<td>		<input type ="checkbox" id ="all4" class ="all" /> </td>
<td>		<input type="text" id="lb4" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent4" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split4" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder4" class="remainder" /></td>
</tr>
<tr>
<td>
	Chipotle Jack Smoked Links </td>
<td>		<input type ="checkbox" id ="all5" class ="all" /> </td>
<td>		<input type="text" id="lb5" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent5" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split5" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder5" class="remainder" /></td>
</tr>
<tr>
<td>
	Jalepeno Only Smoked Links </td>
<td>		<input type ="checkbox" id ="all6" class ="all" /> </td>
<td>		<input type="text" id="lb6" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent6" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split6" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder6" class="remainder" /></td>
</tr>
<tr>
<td>
	Cheddar Only Smoked Links </td>
<td>		<input type ="checkbox" id ="all7" class ="all" /> </td>
<td>		<input type="text" id="lb7" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent7" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split7" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder7" class="remainder" /></td>
</tr>
<tr>
<td>
	Traditional Salami </td>
<td>		<input type ="checkbox" id ="all8" class ="all" /> </td>
<td>		<input type="text" id="lb8" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent8" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split8" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder8" class="remainder" /></td>
</tr>
<tr>
<td>
	Jalepeno Only Salami </td>
<td>		<input type ="checkbox" id ="all9" class ="all" /> </td>
<td>		<input type="text" id="lb9" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent9" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split9" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder9" class="remainder" /></td>
</tr>
<tr>
<td>
	Cheddar Only Salami </td>
<td>		<input type ="checkbox" id ="all10" class ="all" /> </td>
<td>		<input type="text" id="lb10" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent10" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split10" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder10" class="remainder" /></td>
</tr>
<tr>
<td>
	Mild Breakfast Sausage </td>
<td>		<input type ="checkbox" id ="all11" class ="all" />
<td>		<input type="text" id="lb11" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent11" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split11" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder11" class="remainder" /></td>
</tr>
<tr>
<td>
	Hot Breakfast Sausage </td>
<td>		<input type ="checkbox" id ="all12" class ="all" /> </td>
<td>		<input type="text" id="lb12" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent12" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split12" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder12" class="remainder" /></td>
</tr>
<tr>
<td>
	Bratwurst </td>
<td>		<input type ="checkbox" id ="all13" class ="all" /> </td>
<td>		<input type="text" id="lb13" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent13" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split13" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder13" class="remainder" /></td>
</tr>
<tr>
<td>
	Mild Italian Sausage </td>
<td>		<input type ="checkbox" id ="all14" class ="all" /> </td>
<td>		<input type="text" id="lb14" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent14" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split14" class="split" /> </td>
<td>		<input type ="checkbox" id ="remainder14" class="remainder" /></td>
</tr>
<tr>
<td>
	Hot Italian Sausage </td>
<td>		<input type ="checkbox" id ="all15" class ="all" /> </td>
<td>		<input type="text" id="lb15" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent15" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split15" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder15" class="remainder" /></td>
</tr>
<tr>
<td>
	Hunter Sticks </td>
<td>		<input type ="checkbox" id ="all16" class ="all" /> </td>
<td>		<input type="text" id="lb16" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent16" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split16" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder16" class="remainder" /></td>
</tr>
<tr>
<td>
	Fajita Sausage </td>
<td>		<input type ="checkbox" id ="all17" class ="all" /> </td>
<td>		<input type="text" id="lb17" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent17" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split17" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder17" class="remainder" /></td>
</tr>
<tr>
<td>
	Chorizo </td>
<td>		<input type ="checkbox" id ="all18" class ="all" /> </td>
<td>		<input type="text" id="lb18" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent18" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split18" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder18" class="remainder" /></td>
</tr>
<tr>
<td>
	Bulk Mild Italian </td>
<td>		<input type ="checkbox" id ="all19" class ="all" /> </td>
<td>		<input type="text" id="lb19" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent19" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split19" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder19" class="remainder" /></td>
</tr>
<tr>
<td>
	Bulk Hot Italian </td>
<td>		<input type ="checkbox" id ="all20" class ="all" /> </td>
<td>		<input type="text" id="lb20" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent20" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split20" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder20" class="remainder" /></td>
</tr>
<tr>
<td>
	Bacon </td>
<td>		<input type ="checkbox" id ="all21" class ="all" /> </td>
<td>		<input type="text" id="lb21" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent21" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split21" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder21" class="remainder" /></td>
</tr>
<tr>
<td>
	Jerky </td>
<td>		<input type ="checkbox" id ="all22" class ="all" /> </td>
<td>		<input type="text" id="lb22" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent22" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split22" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder22" class="remainder" /></td>
</tr>
<tr>
<td>
	Hamburger </td>
<td>		<input type ="checkbox" id ="all23" class ="all" /> </td>
<td>		<input type="text" id="lb23" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent23" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split23" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder23" class="remainder" /></td>
</tr>
<tr>
<td>
	Chili </td>
<td>		<input type ="checkbox" id ="all24" class ="all" /> </td>
<td>		<input type="text" id="lb24" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent24" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split24" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder24" class="remainder" /></td>
</tr>
<tr>
<td>
<input type="text" id="otherid" class="otherclass" size="20" maxlength="40" value="" placeholder="Other"/>	 </td>
<td>		<input type ="checkbox" id ="all25" class ="all" /> </td>
<td>		<input type="text" id="lb25" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent25" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split25" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder25" class="remainder" /></td>
</tr>
<tr>
<td>
	Donate </td>
<td>		<input type ="checkbox" id ="all26" class ="all" /> </td>
<td>		<input type="text" id="lb26" class="lb" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type="text" id="percent26" class="percent" size="3" maxlength="4" value="0" style="text-align:right" placeholder="0"/> </td>
<td>		<input type ="checkbox" id ="split26" class="split" /></td>
<td>		<input type ="checkbox" id ="remainder26" class="remainder" /></td>
<tr>
<td>
<input type ="button" id="submit" value="Save">
</td>

</tr>

</form>

<script type="text/javascript" src="/assets/select.js"></script>
<script type="text/javascript" src="/assets/submit.js"></script>
