.buttons{
overflow:hidden;

padding:10px}
.next-step{padding:8px 6px; width:160px; float:right;margin-right:120px;}
.back-step{padding:8px 6px; width:160px; float:left;margin-left:120px;}


.select-game li{
	list-style-type:none;
	display:inline-block;
	text-align:center;
	padding:5px 12px;
	font-size:18px;
	cursor:pointer;
	text-shadow: 1px 1px 0 #fff;
	margin:0 10px 10px 0;
	border: solid 1px transparent;
  a {
    color:#555;
  }
	&:hover{
    border-radius:5px;
    border-color: #ddd;
    background: -webkit-linear-gradient(top, #FFF, #f7f7f7 50%, #eee 50%, #ededed);
    background: -moz-linear-gradient(top, #FFF, #f7f7f7 50%, #eee 50%, #ededed);
  }
	&:active{box-shadow: inset 0 0 10px #ccc; border-color: #bbb #ddd #ddd #bbb}
	img{
	width:40px;
	margin:auto;
	display:block;
	margin-bottom:4px}
}

section h3{
display:block;
background:#fff;
padding:5px;
line-height:28px;
padding-bottom:0;
position:absolute;
margin-left:-10px;
border-radius: 5px 5px 0 0;
overflow:hidden;
border: solid 1px #ddd;
border-bottom:0;

margin-top:-44px;
box-shadow: 0 -1px 2px #ddd;
	
	p{font: 400 13px arial;
	display:inline;
	padding: 0 20px;
	color:#bbb}

	span{
	font-size:16px !important;
	color: #888;
	border-radius:4px 4px 0 0;
	padding-right:6px;
	display:block;
	line-height:28px;}
	
	img{ height:28px;
	vertical-align:top;
	margin-right:6px;}
	
	strong{
	font-weight:normal;
	&:before{content:"You are adding a "; opacity: 0.5; }
	}
}

/*
.deer{background:#CBB472; }	
.pig{background:#FAC090}
.duck{background: #FFD34B}
.turkey{background: #EEA162}
.elk{background: #D65959}
.exotic{background: #A4C074}
*/

.step:not(.choose-game),
.form_table{
	
	table{
		width:100%;
		border-collapse:collapse;

		tr:nth-child(even){
		background:#fafafa}

		th{
		color: #afafaf;
		text-align:right;
		text-shadow: 1px 1px 0 #fff;
		width:150px;
		padding-top:13px;
		vertical-align:top}

		th label{font: 800 15px arial;}

		td{
		padding:9px 7px;
		line-height:16px;
		color:#000;
		font-size:16px;
		
		>label {font: 13px arial;}

		input[type='text'],
		select{
		width:200px;}
		
		select option{line-height:40px}
		
		.radio-button{
		display:inline-block; box-shadow: 0 1px 2px #eee; cursor:pointer;
		padding:5px; border-radius:4px; background:#fff; border: solid 1px #ddd;
		&:hover{border-color:#aaa; box-shadow: 0 1px 1px #ddd;}
		label{cursor:pointer}}
		
		.checkbox-button{
		cursor: pointer;
		box-shadow: 0 1px 2px #eee;
		display:block;
		width:240px;
		margin-bottom:7px;
		line-height:16px;
		border-radius:4px; background:#fff; border: solid 1px #ddd;
		overflow:hidden;
		&:hover{border-color:#aaa; box-shadow: 0 1px 1px #ddd;}
		&.default{
		margin-top:4px; margin-bottom:0; display:inline-block; width:auto;
			label{font: 800 12px arial !important;}}
		
		input[type='checkbox']{position:absolute;margin: 7px 0 0 6px;}
		label{display:block; padding:5px; line-height:16px; font-size:16px; padding-left:24px; cursor:pointer}
		input[type='text']{display:block; margin:1px 0 1px 24px; box-shadow: inset 0 0 5px #eee; line-height:16px; font-size:16px; width:163px; border:0; border-bottom: dashed 1px #666; padding: 3px 0 2px 2px;}
		input[type='number']{width:35px;position:absolute; line-height:16px; font-size:16px; padding:1px; text-align:center; margin: -24px 0 0 199px; border-radius:3px; border-width:1px;}}
		/* span{padding:4px 0 4px 5px; display:block; font-size:16px;} */
	}
}
}

.sub-tabs{border-bottom: solid 1px #ddd; height:25px; padding: 4px 7px 0; background: -webkit-linear-gradient(top, #FFF 60%, #f3f3f3); overflow:visible;
		span{padding:2px 4px; cursor:pointer; background:#f3f3f3; box-shadow: inset 0 0 5px #dbdbdb; font: 12px arial; color: #999; text-shadow: 1px 1px 0 #fff; margin-right:3px; display: block; margin-left:-1px;float:left; border-radius: 5px 5px 0 0; border: solid 1px #ccc; border-bottom:0; position:relative; top:5px;
		&:hover{box-shadow: inset 0 0 5px #ddd; background:#fff}
		&.active{padding:4px; border-bottom: solid 1px #fff; position:relative; top:1px; box-shadow:none; background:#fff; color: #777; font-weight:bold}}}
.auto{width:auto !important;display:inline-block !important}
